html, body{
    margin: 0;
}
#Imagem_Fundo {
    background: url("capa_paes.jpg"); height: 200px;
    text-align: center;
}
#Título{
    color: white; 
    padding-top: 5%;
}
#Subtítulo{
    color: white;
}
    #tabelas{
        table: layout 30px;
        text-align: center;

    }
    #comfotos{
        border-left-style: hidden;
        text-align: center; vertical-align: middle;
        tab-size: 5px
        
    }
    #Fotos{
      width: 100%; align-content:space-around; height: 100px; left: 600px;
    }
    #Contatos{
        text-align: center;
        
    }
    footer {
        background-color:rgb(226, 229, 236);
        float: left;
        width: 100%;
        color: black;
        text-align: center;
    }
    header {
    background-color:rgb(226, 229, 236);
    float: left;
    width: 100%;
    color: black;
    text-align: center;
    }
    #centro {
        text-align: center;
        background-color: rgb(226, 229, 236);
        color: black;
        padding-top: 2%;
    }